<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <title>
      {{ page.title }}
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.1.0/reveal.min.css" integrity="sha512-0AUO8B5ll9y1ERV/55xq3HeccBGnvAJQsVGitNac/iQCLyDTGLUBMPqlupIWp/rJg0hV3WWHusXchEIdqFAv1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.1.0/theme/dracula.min.css" integrity="sha512-RPqCDyRPg34CE04QpEtt720zRNPR9oZElahfl1OrNl+pxERwvXw7usOOsR+vP6HnDQEmw+ioz2Nh/XOGP8aV0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% include head.html %}
  </head>

  <body>
    <div
      class="reveal"
      data-controller="reveal"
      data-reveal-controls-value="true"
      data-reveal-loop-value="true"
      data-reveal-auto-slide-value="1000"
      data-bs-theme="dark"
    >
	    <div class="slides">
	      {{ content }}
      </div>
    </div>

    <script type="module">
      import { application } from 'controllers/application.js';
      import RevealController from 'controllers/reveal_controller.js';

      application.register('reveal', RevealController);
    </script>
  </body>
</html>
